
  .footer {
    flex-direction: column;
    margin-top: 10px;
    align-items: start;
    justify-content: center;
  }
  
  .footer-background {
    align-self: start;

    background-size: cover; 
    background-position: center;
  }
  