.footer {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-self: stretch;
    position: relative;
    margin-top: 10px;
    width: 99.8%;
    align-items: start;
    justify-content: center;
  }

  @media (max-width: 991px) {
    .footer {
      max-width: 100%;
      padding-right: 20px;
    }
  }

  @media (max-height: 1920px) {
    .footer {
      max-height:0%;
    }
  }

  .footer-background {
    position: absolute;
    inset: 0;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
