
  
.footer {
  align-items: flex-start;

  flex-direction: column;
  justify-content: center;
  height: 100px;
  width: 100%;
  margin-top: 10px;
}


.footer-background {
  position: absolute;
  object-fit: fill;
  height: 135px;
  width: 99%;
}
