 
  .info-container {
    border-radius: 10px;
    display: flex;
    width: 97.5%;
    gap: 20px;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 10;

    margin-left: 10px;
    
  }
  @media (max-width: 991px) {
    .info-container {
      flex-wrap: wrap;
      padding: 0 20px;
    }
  }
  .location-info {
    display: flex;
    gap: 10px;
    font-size: 30px;
    font-style: bold;
    margin: auto 0;
  }
  .location-icon {
    width: 30px;
  }
  .location-details {
    font-family: Inter, sans-serif;
    margin: auto 0;
  }
  .location-name {
    font-family: Public Sans, sans-serif;
    font-weight: 700;
  }
  .date-time-info {
    border-radius: 30px;
    background-color: #f1f0f2;
    display: flex;
    gap: 7px;
    font-style: bold;
    font-size: 30px;
    text-align: right;
    padding: 11px;
  }
  .calendar-icon {
    width: 33px;
  }
  .date-time {
    font-family: Public Sans, sans-serif;
    margin: auto 0;
  }
  .map-image {
    width: 100%;
    margin-top: 10px;
  }
  @media (max-width: 991px) {
    .map-image {
      max-width: 100%;
    }
  }


