.container {
  background-color: #f8f7fa;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 16px;
}

.header {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0px 2px 4px 0px rgba(165, 163, 174, 0.3);
  color: var(--main-gray, #6d6e71);
  display: flex;
  font-weight: 500;
  gap: 20px;
  justify-content: space-between;
  padding: 10px 24px;
  width: 100%;
}

@media (max-width: 991px) {
  .header {
    flex-wrap: wrap;
    max-width: 100%;
    padding: 0 20px;
  }
}

.logo-container {
  display: flex;
  gap: 9px;
  font-size: 22px;
  margin: auto 0;
}

.logo {
  aspect-ratio: 0.5;
  object-fit: auto;
  object-position: center;
  width: 18px;
}

.location-info {
  font-family: Inter, sans-serif;
  margin: auto 0;
}

.location-name {
  font-family: Public Sans, sans-serif;
  font-weight: 700;
}

.datetime-container {
  background-color: #f1f0f2;
  border-radius: 30.1px;
  display: flex;
  font-size: 23px;
  gap: 7px;
  padding: 5px 11px;
  text-align: right;
}

.calendar-icon {
  aspect-ratio: 1.03;
  object-fit: auto;
  object-position: center;
  width: 33px;
}

.datetime {
  font-family: Public Sans, sans-serif;
  margin: auto 0;
}

.main-content {
  margin-top: 10px;
  width: 95%;
  align-self: center;
}

@media (max-width: 991px) {
  .main-content {
    max-width: 100%;
  }
}

.content-wrapper {
  display: flex;
  gap: 20px;
  width: 100%;
}

@media (max-width: 991px) {
  .content-wrapper {
    align-items: stretch;
    flex-direction: column;
  }
}

.apology-section {
  line-height: normal;
  width: 60%;
}

@media (max-width: 991px) {
  .apology-section {
    width: 100%;
  }
}

.apology-message {
  align-items: center;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0px 2px 4px 0px rgba(165, 163, 174, 0.3);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0 20px;
  width: 100%;
}

@media (max-width: 991px) {
  .apology-message {
    margin-top: 16px;
    max-width: 100%;
  }
}

.icon-container {
  align-items: center;
  align-self: stretch;
  background: linear-gradient(180deg, rgba(47, 94, 171, 0.16) 0%, rgba(47, 94, 171, 0.52) 100%);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  margin-bottom: -58px;
  width: 89.6%;
  margin-left: -19.9px;
  margin-right: -19.9px;
  margin-top: 1px;
  padding: 55px 60px;
  z-index: 10;
}

@media (max-width: 991px) {
  .icon-container {
    max-width: 100%;
    padding: 0 20px;
  }
}

.apology-icon {
  align-items: center;
  aspect-ratio: 1;
  background-image: url(../assets/cashier.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  display: flex;
  filter: drop-shadow(0px 2.649px 2.649px rgba(0, 0, 0, 0.25));
  height: 196px;
  justify-content: center;
  margin-bottom: -58px;
  object-fit: auto;
  object-position: center;
  padding: 0 38px;
  width: 196px;
}

.apology-title {
  color: var(--main-blue, #2f5eab);
  font: 700 38px/134% Public Sans, -apple-system, Roboto, Helvetica, sans-serif;
  margin-top: 150px;
  text-align: center;
}

@media (max-width: 991px) {
  .apology-title {
    margin-top: 40px;
  }
}

.apology-description {
  color: var(--main-gray, #6d6e71);
  font: 700 30px/40px Public Sans, -apple-system, Roboto, Helvetica, sans-serif;
  margin-top: 1px;
  text-align: center;
}

@media (max-width: 991px) {
  .apology-description {
    max-width: 100%;
  }
}

.image-wrapper {
  line-height: normal;
  margin-left: 20px;
  margin-right: 20px;
  width: 41%;
}

@media (max-width: 991px) {
  .image-wrapper {
    width: 100%;
  }
}

.image-section {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0px 2px 4px 0px rgba(165, 163, 174, 0.3);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  padding: 24px;
  width: 100%;
}

@media (max-width: 991px) {
  .image-section {
    margin-top: 16px;
    max-width: 100%;
    padding: 0 20px;
  }
}

.parking-lot-image {
  aspect-ratio: 1.05;
  object-fit: auto;
  object-position: center;
  width: 100%;
}

@media (max-width: 991px) {
  .parking-lot-image {
    max-width: 100%;
  }
}

.footer {
  align-items: start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 21px;
  min-height: 116px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

@media (max-width: 991px) {
  .footer {
    max-width: 100%;
    padding-right: 20px;
  }
}

.footer-background {
  height: 100%;
  inset: 0;
  object-fit: cover;
  object-position: center;
  position: absolute;
  width: 100%;
}

.footer-logo {
  aspect-ratio: 4.76;
  max-width: 100%;
  object-fit: auto;
  object-position: center;
  width: 551px;
}